PortalAdmin/Connected Services/ServicioCatalagos/CatalagosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalagosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51428/CatalagosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51428/CatalagosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51428/CatalagosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatalagosComercializadoraWCF.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalagos_ListaEstatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaEstatus" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_ListaEstatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaEstatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_ListaRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaRoles" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_ListaRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_recuperarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_recuperarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_RegistrarYActualizarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarYActualizarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_RegistrarYActualizarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarYActualizarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_EliminarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalagos_EliminarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRolResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalagos">
    <wsdl:operation name="ListaEstatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalagos/ListaEstatus" message="tns:ICatalagos_ListaEstatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalagos/ListaEstatusResponse" message="tns:ICatalagos_ListaEstatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalagos/ListaRoles" message="tns:ICatalagos_ListaRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalagos/ListaRolesResponse" message="tns:ICatalagos_ListaRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalagos/recuperarRol" message="tns:ICatalagos_recuperarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalagos/recuperarRolResponse" message="tns:ICatalagos_recuperarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarYActualizarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalagos/RegistrarYActualizarRol" message="tns:ICatalagos_RegistrarYActualizarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalagos/RegistrarYActualizarRolResponse" message="tns:ICatalagos_RegistrarYActualizarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalagos/EliminarRol" message="tns:ICatalagos_EliminarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalagos/EliminarRolResponse" message="tns:ICatalagos_EliminarRol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalagos" type="tns:ICatalagos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaEstatus">
      <soap:operation soapAction="http://tempuri.org/ICatalagos/ListaEstatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaRoles">
      <soap:operation soapAction="http://tempuri.org/ICatalagos/ListaRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalagos/recuperarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarYActualizarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalagos/RegistrarYActualizarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalagos/EliminarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalagosService">
    <wsdl:port name="BasicHttpBinding_ICatalagos" binding="tns:BasicHttpBinding_ICatalagos">
      <soap:address location="http://localhost:51428/CatalagosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>