PortalAdmin/Connected Services/ServicioCatalagos/CatalagosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatalagosComercializadoraWCF.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatalagosComercializadoraWCF.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstatusCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstatusCLS" nillable="true" type="tns:EstatusCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstatusCLS" nillable="true" type="tns:ArrayOfEstatusCLS" />
  <xs:complexType name="EstatusCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatus" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstatusCLS" nillable="true" type="tns:EstatusCLS" />
  <xs:complexType name="ArrayOfRolCLS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolCLS" nillable="true" type="tns:RolCLS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolCLS" nillable="true" type="tns:ArrayOfRolCLS" />
  <xs:complexType name="RolCLS">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="NombreRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstatus" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolCLS" nillable="true" type="tns:RolCLS" />
</xs:schema>